<!DOCTYPE html>
<html>
    <head>
        <style>
            #button{
                float: right;
            }
        </style>
    </head>
    <body>
<div class="striped">

    <table border="2" cellspacing= "2">
        <tr>
            <th>Date</th>
            <th>First club</th>
            <th>Second club</th>
            <th>Status</th>
        </tr>

        <tr *ngFor = "let m of matchArray">
            <td>{{m.date}}</td>
            <td>{{m.team01}}</td>
            <td>{{m.team02}}</td>
            <td>{{m.status}}</td>
        </tr>
    </table>
</div>

<a id = "button" class="waves-effect purple btn" routerLink = "/findDate" routerActive="active"> Find Match </a>
</body>
</html>
